{% extends "Base.html" %}
<head>
    <meta charset="UTF-8">
    {% block title %}
     <title>Status</title>
    {% endblock %}

</head>
<body>
{% block content %}
{% if messages %}
{% for message in messages %}
<h1>{{message}}</h1>
{% endfor %}
{% else %}
<h1>You have just borrowed <b>{{borrowed_book.title}}</b> by <b>{{borrowed_book.author}}</b></h1>
{% endif %}

<!--
1.check for any other user has any other books borrowed in the database
2.list those books and the deadlines as well as any penalties if any
3.Student shouldn't be able to have more than 3 books borrowed/in their name

-->
<div class="container">
    <div class="row justify-content-center">
    <h5>The following books are pending return</h5>
    </div>
</div>
{% endblock %}

{% block content2 %}
<div class="row justify-content-center">
    <ul class="list-group text-center">
        {% for book in books %}
        <li class="list-group-item">{{book.book_id.title}} due {{book.due_date}}</li>
        {% endfor %}
        </ul>
</div>
<br>
<div class="row justify-content-center">
<button type="submit" class="btn btn-primary text-center" onclick="document.location='{% url 'index'%}'">RETURN HOME</button>
</div>

{% endblock %}


</body>
