{% extends "Base.html" %}

<html lang="en">

    {% block title %}
    <title>Library Books</title>
    {% endblock %}
    <body>
{% block navbar %}{% include "navbar.html" %}
{% endblock %}
{% block design %}
{% endblock %}
{% block table %}

<thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Publication Date</th>
      <th scope="col">Author</th>
      <th scope="col">Shelf Number</th>
        <th scope="col">Subject Area</th>
    </tr>
</thead>
     <tbody>
     {%for x in books%}

      <tr class="clickable " onclick="window.location='/borrow/{{x.id}}'">

          <td>{{x.title}}</td>
          <td>{{x.publication_date}}</td>
          <td>{{x.author}}</td>
          <td>{{x.shelf_number}}</td>
          <td>{{x.subject_area}}</td>

    </tr>

      </tbody>
     {%endfor%}
{% endblock %}


</body>
</html>