{%extends 'Base.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Profile</title>
    {% endblock %}
</head>
<body>

<table>
    {% block table %}
    <thead> <tr>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Date borrowed</th>
      <th scope="col">Due date</th>
        <th scope="col">Fines due</th>
    </tr>
    </thead>
    <tbody>
    {% if books %}
    {% for x in books%}
    <tr>
        <td>{{x.book_name}}</td>
        <td>{{x.book_id.author}}</td>
        <td>{{x.borrow_date}}</td>
        <td>{{x.due_date}}</td>
        <td>{{x.penalty_due}}</td>




    </tr>



    {%endfor%}
    {%else%}
    <h5>You do not have any previous pending books for return.</h5>
    {%endif%}

    </tbody>
    {% endblock table%}
</table>

</body>
</html>